@font-face {
    font-family: 'font1';
    src: local('font1'), url(./font/font1.ttf) format('truetype');
  }

  @font-face {
    font-family: 'font2';
    src: local('font2'), url(./font/font2.ttf) format('truetype');
  }

  @font-face {
    font-family: 'font3';
    src: local('font3'), url(./font/font3.ttf) format('truetype');
  }

  @font-face {
    font-family: 'font4';
    src: local('font4'), url(./font/font4.ttf) format('truetype');
  }

  @font-face {
    font-family: 'font5';
    src: local('font5'), url(./font/font5.ttf) format('truetype');
  }

  @font-face {
    font-family: 'font6';
    src: local('font6'), url(./font/font6.ttf) format('truetype');
  }

  .popup-content {
    margin: auto;
    background: rgb(255, 255, 255,00);
    width: 50%;
    padding: 5px;
  }
  .popup-arrow {
    color: rgb(255, 255, 255);
  }
  [role='tooltip'].popup-content {
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
  }
  
  .popup-overlay {
    background: rgba(0, 0, 0, 0.8);
  }
  [data-popup='tooltip'].popup-overlay {
    background: transparent;
  }